<div class="card d-block shadow my-4 mx-auto px-3 ">
    <div class="card-body">
        <img class="my-3" src="./assets/img/thumbs-up.png" alt="">
        <p class="m-2 p-2 fw-normal fs-3">We have no room for Error</p>
        <p>
            Given the current circumstances, it is upon us to carry out every measure possible to
            ensure the safety and health of our residents. These measures range from those of basic
            hygiene to uninterrupted delivery of daily essentials.
        </p>
        <hr>
        <img class="my-3" src="./assets/img/thermometer.png" alt="">
        <p class="m-2 p-2 fw-normal fs-3">Pro-Active Resident Management</p>
        <p>
            We firmly believe in not taking any chances. That’s why we’ve introduced measures to
            monitor the current status of all our guests, including examination of their medical
            and travel history to rule out any possibilities.
        </p>
        <hr>
        <img class="my-4" src="./assets/img/spray.png" alt="">
        <p class="m-2 p-2 fw-normal fs-3">Property Hygiene Processes</p>
        <p>
            First and foremost, we’ve adopted thorough hygiene processes over and above our usual
            protocol. From regular disinfection to the provision of sanitized rooms, only the very best
            practices are employed to prevent the manifestation of the Novel Coronavirus in our residences.
        </p>
        <hr>
        <img class="my-4" src="./assets/img/liquid-soap.png" alt="">
        <p class="m-2 p-2 fw-normal fs-3">Covid-proof daily Operations</p>
        <p>
            It sounds counterintuitive to our usual encouragement of human interaction,
            but we’ve introduced strict no to minimal contact practices in all common areas to
            nullify even the slightest possibility of transmission. We provide all the mandatory products 
            from sanitizers to masks all the time.
        </p>
        <hr>
        <img class="my-4" src="./assets/img/employees.png" alt="">
        <p class="m-2 p-2 fw-normal fs-3">Covid-ready frontline Ecosystem</p>
        <p>
            We admit to not being experts on healthcare. So we’ve turned to the ones who are,
            adopting the practices they recommend and inviting them over to conduct personnel training
            and audits of our guests. We also mandated PPE kits for all the wroking staff.
        </p>
        <hr>

       
    </div>
</div>