
<!-- Footer -->
<footer class="mt-5 text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section>
    <div class="footer text-center text-md-start my-2">
          <img class="footerimg" src="./assets/img/logo7.png" alt="">
          <h5>Hotel Hut</h5>
          <div class="footerlinks">
            <a routerLink="/aboutus" routerLinkActive="active" class="link text-reset">About us</a>
            <a routerLink="/pp" routerLinkActive="active" class="link text-reset">Privacy Policy</a>
            <a routerLink="/cd" routerLinkActive="active" class="link text-reset">COVID-19</a>
            <a routerLink="/tc" routerLinkActive="active" class="link text-reset">Terms and Conditions</a>
          </div>
    </div>
  </section>
  <div class="text-center p-2" style="background-color:rgba(0,0,0,0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">HotelHut.com</a>
  </div>
</footer>