<p class="py-2 px-5 text-end">Last update : 21 | 06 | 2021</p>
<div class="card d-block shadow my-4 mx-auto px-3 ">
    <div class="card-body">
        <p class="m-2 p-2 fw-normal fs-3"> <b>Terms of Use</b></p>
        <p>These terms form a legally binding agreement between Users (“User(s), you, your, customer(s), yourself”)
            and Hotel Hut Private Limited and/or its subsidiaries and affiliates (“HOTEL HUT, we, us, our”).
            These terms shall govern the use of the website, mobile application, call centers
            which enables the User to connect with us in relation to the services offered through the
            HOTEL HUT Platform ("Services"). <br> <br>
            Please read these terms carefully before accessing, using, obtaining or availing any products or
            Services by HOTEL HUT. If you do not agree with these Terms of Use you may refrain from using
            the HOTEL HUT Platform and/or Services. <br> <br>
            These conditions must be read in conjunction with any
            other applicable terms and conditions governing the use of HOTEL HUT Platform and Services.
            HOTEL HUT reserves the right to modify these Terms of Use at any time at its sole discretion.
            It will be your responsibility to keep yourself updated with the Terms of Use from time to time,
            your continued usage of the HOTEL HUT Platform and Services would be deemed to be an acceptance of
            these terms and the modifications thereto.
        </p>
        <hr>
        <p class="m-2 p-2 fw-normal fs-3">Eligibility to use</p>
        <p>You must be at least eighteen (18) years of age or above and capable of entering,
            performing and adhering to these terms. While individuals under the age of 18 may utilize/
            browse the HOTEL HUT Platform, they shall do so only with the involvement, guidance and supervision
            of their parents and / or legal guardians, under such parent /legal guardian’s registered account.
            HOTEL HUT reserves the right to terminate User’s access and refuse to provide User with access to the
            HOTEL HUT Platform if HOTEL HUT discovers that User is under the age of 18 years.
        </p>
        <hr>
        <p class="m-2 p-2 fw-normal fs-3">HOTEL HUT Services</p>
        <p>HOTEL HUT understands the NEW age Customers requirements and accordingly offers wide
            variety of hotels at its platform to service its guest.HOTEL HUT also promises its Users
            of a comfortable room stay experiences at all its HOTEL HUT branded rooms with following amenities:
        </p>
        <p class="px-5">
            a. AC rooms with Television <br> b. Wi-Fi <br> c. Spotless linen <br>d. Hygienic and sanitised washrooms <br>
            e. Housekeeping Facilities on daily basis for your comfort <br>
            f. 24*7 manned front desk to help you with all your queries 
        </p>
        <hr>
        <p class="m-2 p-2 fw-normal fs-3">Term & Termination</p>
        <p>
            In case you wish to discontinue you can at any point opt out of your membership of the
            HOTEL HUT Platform. HOTEL HUT deserves the right to unilaterally terminate your use of the
            HOTEL HUT Platform without notice or any liability for reasons of breach of the terms mentioned herein.
        </p>
        <hr>
        <p class="m-2 p-2 fw-normal fs-3"> Payment & Usage Fee</p>
        <p>
            You hereby agree and understand that you will have to pay the usage fee as mentioned on
            the HOTEL HUT Platform for the concerned Services via the payment mode provided on the
            HOTEL HUT Platform post which User’s requested reservation will be confirmed. Once the
            reservation has been confirmed, HOTEL HUT will debit the usage fee from the payment mode
            selected by the User. The User agrees and acknowledges that the payment procedure may
            call for and require additional verification of or information from the User and the User
            undertakes to provide complete, correct and proper information. <br> <br>
            HOTEL HUT uses third party payment providers to receive payments from User.
            HOTEL HUT is not responsible for delays or erroneous transaction execution or cancellation
            of reservation due to payment issues. HOTEL HUT takes utmost care to work with third party
            payment providers, but does not control their systems, processes, technology and work flows,
            hence cannot be held responsible for any fault at the end of payment providers.
        </p>
        <hr>
        
    </div>
</div>