p{
    color: #74356e;
    font-family: 'Cinzel', serif;
}
h6{
    color: #74356e;
    font-family: 'Cinzel Decorative', cursive;
}
.link:hover{
    text-decoration: underline;
}
@media screen and (max-width:1500px) {
    .main{
        margin: 0% 10%;
    }
    .footerimg{
        display: inline;
        width: 70px;
    }
    .footer{
        margin-left: 8%;
    }
    .footerlinks{
        display: inline;
        margin: 1% 4%;
    }
    .link{
        text-decoration: none;
        padding: 0% 5%;
    }
    h5{
        font-family:  'Cinzel', serif;
        color: #74356e;
        display: inline;
        padding: 5% 1%;
    }

  }
@media screen and (max-width:700px) {
    .main{
        margin: 0% 5%;
    }
    .footerimg{
        width: 40px;
    }
    .footer{
        margin: 0%;
    }
    .footerlinks{
        display: block;
    }
    .link{
        text-decoration: none;
        display: block;
    }
    h5{
        font-family:  'Cinzel', serif;
        color: #74356e;
        display: inline;
    }
  }